package com.yuantu.admin.${moduleName}.mapper;

import org.springframework.stereotype.Component;
import com.yuantu.admin.${moduleName}.entity.${className}Entity;
import com.yuantu.admin.base.mapper.BaseMapper;
import org.springframework.stereotype.Repository;

/**
 * <p>
 * ${comments}
 * </p>
 *
 * @package:  com.yuantu.admin.${moduleName}.mapper
 * @description: ${comments}
 * @author: ${author}
 * @date: Created in ${datetime}
 * @copyright: Copyright (c) ${year}
 * @version: V1.0
 * @modified: ${author}
 */
@Repository("${classname}Mapper")
public interface ${className}Mapper extends BaseMapper<${className}Entity> {

}
