package com.yuantu.admin.${moduleName}.service.impl;

import com.yuantu.admin.${moduleName}.${className}Service;
import com.yuantu.admin.${moduleName}.mapper.${className}Mapper;
import com.yuantu.admin.${moduleName}.vo.${className}VO;
import com.yuantu.admin.${moduleName}.entity.${className}Entity;
import com.yuantu.admin.${moduleName}.vo.${className}Query;
import com.yuantu.admin.base.query.Page;
import com.yuantu.admin.base.exception.*;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.util.ArrayList;
import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Service;
import java.util.stream.*;

import javax.annotation.Resource;

/**
 * <p>
 * ${comments}
 * </p>
 *
 * @package: ${package}.${moduleName}.service.impl
 * @description: ${comments}
 * @author: ${author}
 * @date: Created in ${datetime}
 * @copyright: Copyright (c) ${year}
 * @version: V1.0
 * @modified: ${author}
 */
@Service("${classname}Service")
public class ${className}ServiceImpl implements ${className}Service {

    private static final Logger logger = LoggerFactory.getLogger(${className}ServiceImpl.class);

    @Autowired
    @Qualifier("${classname}Mapper")
    private ${className}Mapper ${classname}Mapper;

    /**
    * 分页查询
    * @param
    * @return
    */
    @Override
    public Page<${className}VO> queryByPage(${className}Query ${classname}Query){
        Integer totalCount = ${classname}Mapper.count(${classname}Query.transformEntity());
        List<${className}Entity> lists = new ArrayList<${className}Entity>(totalCount);
        List<${className}VO> listVO = new ArrayList<${className}VO>(totalCount);
        if(totalCount > 0){
            lists = ${classname}Mapper.selectByPage(${classname}Query);
            listVO = lists.stream().map(m -> m.transformVO()).collect(Collectors.toList());
        }
        return new Page(totalCount,${classname}Query.getPageNumber(),${classname}Query.getPageSize(),listVO);
    }

    /**
    * 根据条件查询
    * @param
    * @return
    */
    @Override
    public List<${className}VO> queryByCondition(${className}VO ${classname}VO){
        Integer totalCount = ${classname}Mapper.count(${classname}VO.transformEntity());
        List<${className}Entity> lists = new ArrayList<${className}Entity>(totalCount);
        List<${className}VO> listVO = new ArrayList<${className}VO>(totalCount);
        if(totalCount > 0){
            lists = ${classname}Mapper.selectByCondition(${classname}VO);
            listVO = lists.stream().map(m -> m.transformVO()).collect(Collectors.toList());
        }
        return listVO;
    }

    /**
    * 通过id查询
    * @param
    * @return
    */
    @Override
    public ${className}VO queryById(Long id){
        return ${classname}Mapper.selectById(id).transformVO();
    }

    /**
    * 新增
    * @param
    * @return
    */
    @Override
    public Boolean save(${className}VO ${classname}VO){
        ${className}Entity ${classname}Entity = ${classname}VO.transformEntity();
        Integer res = 0;
        try {
          res = ${classname}Mapper.insert(${classname}Entity);
        } catch (Exception e) {
          logger.error("插入${className}数据失败======>{}",e);
          throw new MySQLException();
        }
        return res == 1 ? true :false;
    }

    /**
    * 修改
    * @param
    * @return
    */
    @Override
    public Boolean updateById(${className}VO ${classname}VO){
        Integer res = 0;
        try {
          res = ${classname}Mapper.update(${classname}VO);
        } catch (Exception e) {
          logger.error("修改${className}数据失败======>{}",e);
          throw new MySQLException();
        }
        return res == 1 ? true :false;
    }

    /**
    * 物理删除
    * @param id
    * @return
    */
    @Override
    public Boolean deleteById(Long id){
        Integer res = 0;
        try {
          res = ${classname}Mapper.delete(id);
        } catch (Exception e) {
          logger.error("删除${className}数据失败======>{}",e);
          throw new MySQLException();
        }
        return res == 1 ? true :false;
    }

}
