package com.yuantu.admin.${moduleName}.vo;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.*;
  #if(${hasBigDecimal})
  import java.math.BigDecimal;
  #end
import javax.validation.constraints.*;
import java.io.Serializable;
import java.util.Date;
import com.yuantu.admin.base.group.*;

/**
 * <p>
 * ${comments}
 * </p>
 *
 * @package:  com.yuantu.admin.${moduleName}.vo
 * @description: ${comments}
 * @author: ${author}
 * @date: Created in ${datetime}
 * @copyright: Copyright (c) ${year}
 * @version: V1.0
 * @modified: ${author}
 */
@Getter
@Setter
@ToString(callSuper = true)
@Builder
@NoArgsConstructor
@AllArgsConstructor
@ApiModel()
public class ${className}VO implements Serializable {
    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
      /**
       * $column.comments
       */
      #if($column.lowerAttrName!=$pk.lowerAttrName)
      @NotNull(message = "$column.comments不能为空",groups = {InsertInterface.class})
      #end
      #if($column.attrType == 'String')
      @NotEmpty(message = "$column.comments不能为空字符",groups = {InsertInterface.class})
      #end
      @ApiModelProperty(value = "$column.comments",name = "$column.lowerAttrName",dataType = "$column.attrType",required = true)
      private $column.attrType $column.lowerAttrName;
    #end

}
